# Ignore node_modules since Heroku installs dependencies automatically
node_modules
Client/node_modules
server/node_modules

# Ignore lock files (optional, depending on your package manager)
package-lock.json
yarn.lock

# Ignore build directories
/build
Client/build
server/build

# Environment files (ensure sensitive data is not pushed)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
Client/.env

# Miscellaneous files (logs, cache, OS specific)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Ignore test coverage reports
/coverage

# Ignore Heroku related local settings
/.pnp
.pnp.js
